# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# Data
data/
*.csv
*.npy
*.npz
*.pt
*.pth

# Model
checkpoints/
runs/
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
